.body_backgorund {
    background-image: url("beautiful-watercolor-colorful-rainbow-background-free-vector.jpg");
    background-position: center;
    background-size: cover;
}

body {
    cursor: pointer;
}

h1 {
    color: red;
    font-size: 20px;
}

#myCanvas {
    border-width: 10px;
    background-color: lightgreen;
    border-style: ridge;
}

button {
    background-color: #00fff2;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
    border-radius: 10px;
}

input {
    margin-right: 20px;
    border-radius: 5px;
    background-color: lightsalmon;
}